<div class="page_wrapper">
    <h1>Gym Forged</h1>
    <div class="link_wrapper">
        <div class="link"><%= link_to "Clients", clients_path %></div>
        <div class="link"><%= link_to "Instructors", instructors_path %></div>
        <div class="link"><%= link_to "Personal Trainings", personal_trainings_path %></div>
    </div>
</div>